@model ForgetPasswordViewModel   
<div class="loging-area">
                <section>
                  <div class="container" id="change-log">
                    <div class="user signinBx">
                        <div class="imgBx"><img src="/assets/img/basket.png" alt="" /></div>
                      <div class="formBx">
                        <form asp-controller="account" asp-action="ForgetPassword">
                          <h2>Reset Password</h2>
                          <input asp-for="Email" placeholder="Enter email" />
                          <span class="text-danger" asp-validation-for="Email"></span>
                          <input type="submit" name="" value="Send Mail" />
                          
                        </form>
                      </div>
                    </div>
                  </div>
                </section>
        </div>
