@model ResetPasswordViewModel

<div class="loging-area">
    <section>
        <div class="container" id="change-log">
            <div class="user signinBx">
                <div class="imgBx"><img src="/assets/img/basket.png" alt="" /></div>
                <div class="formBx">
                    <form asp-controller="account" asp-action="resetpassword" asp-route-token="@Model.Token" asp-route-email="@Model.Email">
                        <h2>Enter new Password</h2>
                        <input asp-for="Password" placeholder="Enter password" />
                        <span class="text-danger" asp-validation-for="Password"></span>
                        <input asp-for="ConfirmPasswod" placeholder="Confirm password" />
                        <span class="text-danger" asp-validation-for="ConfirmPasswod"></span>
                        <input type="submit" name="" value="Send Mail" />

                    </form>
                </div>
            </div>
        </div>
    </section>
</div>